body {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.navMenu {
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 200px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 15px;
}

.navMenuItem {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  line-height: 28px;
  box-sizing: border-box;
}

.menuText {
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	font-size: 90%;
}

.app-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  margin: 0 5px;
    margin-left: 15px;
}

#appList {
  font-family: Consolas, monaco, monospace;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
}

.bodyText {
	font-family: Garamond, "Times New Roman", serif;
	font-size: 16px;
	color: #2a1b31;
}

.footerText {
	font-family: Garamond, "Times New Roman", serif;
	font-size: 90%;
	color: #8c8c8c;
}

#fr_icon {
  background-image: url("./images/radar-icon.svg");
}

textarea {
    width: 80%;
    margin: 5px 5px 5px 5px;
    border: 1px solid black;
}

img.chilterimage {
    border: 1px solid black;
    top: 5px;
}

#mainPage {
  padding: 0 15% 0 15%;
}

#snoo_icon {
  background-image: url("./images/reddit_icon.svg");
}

#yt_icon {
  background-image: url("./images/eye_icon.svg");
}

#gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#galleryContent {
  width: 100%;
  flex: 100 1 100%;
  padding-right: 10%;
}

:link { color: rgb(0, 0, 153) }         /* for unvisited links */
:visited { color: rgb(153, 0, 153) }    /* for visited links */
:hover { color: rgb(0, 96, 255) }       /* when mouse is over link */
:active { color: rgb(255, 0, 102) }     /* when link is clicked */
