<div id="subredditorInfo" style="display: none;">
  <div class="multiColumn">
    <div class="subColumn">
      <p>Commenters in /r/<span class="subName"></span> have also been commenting in the following subreddits:</p>
      <div id="intersectionList">
      </div>
    </div>
    <div id="commenterIntersection" class="subColumn">
      <p>Commenters in /r/<span id="subName" class="subName"></span> have most recently linked to the following subreddits:</p>
      <div id="crossReferenceList">
      </div>
    </div>
    <div id="commenterPosts" class="subColumn">
      <p>The commenters of /r/<span class="subName"></span> have been posting in the following subreddits:</p>
      <div id="commenterPostList" style="color:lightgrey;">
        Coming soon.
      </div>
    </div>
  </div>
</div>
